body,
md-content{
    background-color: #ecf0f1;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.logo{
    background: url(/logo.png);
    width: 87px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 87px 40px;
}

.search-button,
.user-menu-button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    left: 50%;
    position: relative;
    margin-left: -16px;
}

.search-button{
    background: url(search-icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
}

.user-menu-button{
    background: url(//lh5.googleusercontent.com/-ZVDESBouuSg/AAAAAAAAAAI/AAAAAAAAAAA/Z0wbxsjI0KU/s32-c/photo.jpg);
}

md-tabs{
    border-radius: 0;
}

md-tabs-canvas{
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

md-tabs.md-dynamic-height md-tabs-content-wrapper{
    top: 10px;
}